<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBVjEcCSu8CK-EQWHdHTTSHSRkB5PwN3FI</string>
	<key>GCM_SENDER_ID</key>
	<string>1069311869289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.test.BrainRush</string>
	<key>PROJECT_ID</key>
	<string>brainrush-1bf4b</string>
	<key>STORAGE_BUCKET</key>
	<string>brainrush-1bf4b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1069311869289:ios:82227ea37fdc794d4dbdf8</string>
</dict>
</plist>